@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --side-small: 26;
    --side-big: 36;
    --depth: 4000px;
    --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
    --transition-opacity: 0.75s ease;
    --transition-ease: ease;
  }

  body {
    @apply font-raleway font-light bg-black text-white text-[calc(var(--index)*.8)] leading-[1.75] h-[var(--depth)] select-none;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply w-min uppercase font-thin leading-none;
  }

  .perspective {
    perspective: 1500px;
  }

  .transform-3d {
    transform-style: preserve-3d;
  }

  .frame {
    @apply w-full h-full absolute flex items-center justify-center will-change-transform;
    transition: var(--transition), opacity var(--transition-opacity);
  }

  .frame h2 {
    @apply text-center text-[calc(var(--index)*3.3)];
  }

  .frame h3 {
    @apply text-[calc(var(--index)*3)];
  }

  .frame p {
    @apply max-w-[30vw] mt-[3vh];
  }

  .frame-media {
    @apply relative w-[calc(var(--index)*var(--side-small))] h-[calc(var(--index)*var(--side-big))] bg-center bg-cover;
  }

  .frame-left {
    @apply right-[calc(var(--side-small)/2*var(--index)+var(--gutter))];
  }

  .frame-right {
    @apply left-[calc(var(--side-small)/2*var(--index)+var(--gutter))];
  }

  .frame-video {
    @apply relative w-[calc(var(--index)*var(--side-big))] h-[calc(var(--index)*var(--side-small))] bg-center bg-cover;
  }

  .frame-video-left {
    @apply right-[calc(var(--side-big)/2*var(--index)+var(--gutter))];
  }

  .frame-video-right {
    @apply left-[calc(var(--side-big)/2*var(--index)+var(--gutter))];
  }

  .frame-text-right > * {
    @apply relative left-[18vw];
  }

  .frame-text-left > * {
    @apply relative right-[18vw];
  }

  .soundbutton {
    @apply fixed bottom-[5vh] right-[5vw] w-6 transition duration-[.25s] ease-[var(--transition-ease)];
  }

  .soundbutton.paused {
    @apply opacity-25;
  }
}
